<div class="footer">

    <!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase">About us:</h5>
          <p>Tic-tac-toe game, <br> be the new champion !</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Useful Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a routerLink="home-component"> Home </a>
            </li>
            <li>
              <a routerLink="login-component"> Login </a>
            </li>
            <li>
              <a routerLink="signup-component"> Sign up </a>
            </li>
            <li>
              <a routerLink="game-component"> Game on!</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="#"> Avi Kurt</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->

</div>